/node_modules/
/dist/
/.git/
/app/css/
/app/libs/
/app/fonts/
/app/img/
/app/build/
/**/_backstage
/**/package-lock.json
/**/Thumbs.db
/**/*.DS_Store

# WebStrom project files
.idea
*.iml
out
gen
/app/js/bundle.js
/app/js/scripts.js
/app/js/scripts.min.js
