<div class="sub-header">
  <div class="container">
    <div class="row">
      <div class="source" (change)="onChangeSource($event.target.value)">
        <select>
          <option *ngFor="let source of sources" value="{{source.id}}">{{source.name}}</option>
        </select>
      </div>
      <div class="filter">
        <input type="text" #keywords />
        <button (click)="filter(keywords.value); keywords.value=''">
          Filter
        </button>
      </div>
      <div class="">
        <label>
          <input type="checkbox" (change)="onChangeOnlyMyNews($event.target.value)"/>
          Only created by me
        </label>
      </div>
      <div class="add-article">
        <button class="btn" (click)="addArticel()">Add Article</button>
      </div>
    </div>
  </div>
</div>
